.card{
    padding: 0;
    margin: 0;
    border-radius: 0.2rem;
    border-collapse: separate;
    overflow: hidden;
}

.grid{
    padding: 0;
    margin: 0;
}

.user-col{
    padding: 1rem;
    background-color: #fff;
    color: #3F5679;
    height: 5rem;
}

.salutation{
    font-weight: bold;
}

.title-col{
    background-color: #E0E5EE;
    color: #5F7395;
}